<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!--<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">-->
    <h1>Reset password!</h1>
    <form th:action="@{/savePassword}" th:object="${password}" method="POST">
        <!--<form th:action="@{/savePassword}" method="POST">-->
        <label>New password</label>
        <input th:field="*{newPassword}" id="password" name="newPassword" type="password" value=""/>
        <!--<input th:field="*{username}"/>-->
        <br/>
        <label>Confirm password</label>
        <input id="matchPassword" type="password" value=""/>

        <div id="globalError" style="display:none">error</div>
        <button type="submit">submit</button>
    </form>

<!--</div>-->
</body>
</html>